.nav {
  max-width: 125rem;
  margin: 0 auto;
  padding-block: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 32em) {
  .nav {
    padding-top: 1.6rem;
  }
}
