.imperialUnits {
  padding: 0.8rem;
  font-size: 1.6rem;
  width: 21rem;
  border-radius: 1.2rem;
  text-align: left;
  font-weight: 400;
  position: absolute;
  top: 6.4rem;
  right: 0;
  background-color: hsl(243, 27%, 20%);
}

.imperialUnits > button {
  width: 100%;
  display: flex;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 250ms;
}

.imperialUnits > button:hover,
.imperialUnits > button:focus {
  background-color: hsl(243, 23%, 24%);
}

.imperialUnitsList:not(:last-child) {
  padding-block: 0.8rem;
  border-bottom: 1.6px solid hsl(243, 23%, 30%);
  list-style-type: none;
}

.imperialUnitsList > p {
  color: hsl(240, 6%, 70%);
  font-size: 1.4rem;
  padding: 0.8rem;
}

.imperialUnitsList > li {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  transition: background-color 250ms;
}

.imperialUnitsList > li.active {
  background-color: hsl(243, 23%, 24%);
}

.unitsBtn {
  position: relative;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  background-color: hsl(243, 27%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.btn img:first-child {
  height: 1.8rem;
}

.btn img:last-child {
  height: 1rem;
}
