.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  background-color: hsl(243, 27%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.btn img:first-child {
  height: 1.8rem;
}

.btn img:last-child {
  height: 1rem;
}
