.currentForecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 15rem);
  gap: 2.6rem;
  margin-bottom: 6.4rem;
}

.currentForecast h2 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-bottom: 1.2rem;
}
.currentForecast > p {
  color: hsl(250, 6%, 84%);
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.6rem;
  background-image: url(../assets/images/bg-today-large.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  grid-column: span 4;
  grid-row: span 2;
}

.status {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.status img {
  height: 9.6rem;
}

.status p {
  font-size: 9.6rem;
  font-weight: 600;
  font-style: italic;
}

.currentOthers {
  border-radius: 2rem;
  padding: 2.6rem;
  background-color: hsl(243, 23%, 24%);
  border: 2px solid hsl(243, 23%, 30%);
}

.currentOthers p {
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.currentData {
  display: block;
  font-size: 3.6rem;
}
