.currentForecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 15rem);
  gap: 2.6rem;
  margin-bottom: 6.4rem;
}

@media (max-width: 65em) {
  .currentForecast {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 9rem);
    gap: 2rem;
  }
}

@media (max-width: 32em) {
  .currentForecast {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}

.currentForecast h2 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-bottom: 1.2rem;
}
.currentForecast > p {
  color: hsl(250, 6%, 84%);
}

.location,
.loadingLocation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.6rem;
  border-radius: 2rem;
  background-image: url(../assets/images/bg-today-large.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  grid-column: 1/ -1;
  grid-row: span 2;
}

@media (max-width: 65em) {
  .location {
    grid-column: 1/ -1;
    grid-row: span 3;
  }
}

@media (max-width: 32em) {
  .location {
    flex-direction: column;
    padding: 2.6rem;
    text-align: center;
    gap: 2rem;
  }
}

.loadingLocation {
  background-image: none;
  background-color: hsl(243, 27%, 20%);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 65em) {
  .loadingLocation {
    grid-row: span 3;
  }
}

.loading {
  width: 60px;
  aspect-ratio: 2.35;
  --_g: no-repeat
    radial-gradient(
      circle closest-side,
      hsl(240, 6%, 70%) 90%,
      hsl(243, 27%, 20%)
    );
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: load 1s infinite linear;
}
@keyframes load {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

.loadingLocation p {
  color: hsl(240, 6%, 70%);
}

.status {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.status img {
  height: 9.6rem;
}

@media (max-width: 32em) {
  .status img {
    height: 12.4rem;
  }
}

.status p {
  font-size: 9.6rem;
  font-weight: 600;
  font-style: italic;
}

.currentOthers {
  border-radius: 2rem;
  padding: 1.6rem;
  background-color: hsl(243, 23%, 24%);
  border: 2px solid hsl(243, 23%, 30%);
}

@media (max-width: 65em) {
  .currentOthers {
    grid-column: span 2;
    grid-row: span 2;
    padding-top: 2.6rem;
    margin-top: 2.6rem;
  }
}

@media (max-width: 32em) {
  .currentOthers {
    padding: 2.4rem;
    margin: 0;
  }
}

.currentOthers p {
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.currentData {
  display: block;
  font-size: 3.2rem;
}
