.listOfDays {
  font-weight: 400;
  text-align: left;
  list-style-type: none;
  position: absolute;
  top: 120%;
  right: 0;
  width: 180%;
  padding: 0.8rem;
  border-radius: 1.1rem;
  border: 1px solid hsl(243, 23%, 30%);
  background-color: hsl(243, 27%, 20%);
  box-shadow: 0rem 0.4rem 1.6rem 0.2rem hsla(243, 96%, 9%, 0.5);
  z-index: 999;
}

.listOfDays li {
  padding: 1.4rem 0.8rem;
  border-radius: 0.8rem;
}

.listOfDays li:hover,
.listOfDays li:focus {
  background-color: hsl(243, 23%, 30%);
}
