.forecast {
  max-width: 125rem;
  margin-block: 4.8rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3.6rem;
}

.forecast > div:first-child {
  display: flex;
  flex-direction: column;
}

@media (max-width: 65em) {
  .forecast {
    gap: 2.8rem;
  }
}

@media (max-width: 59em) {
  .forecast {
    grid-template-columns: 1fr;
  }

  .forecast {
    max-width: 80rem;
    margin-inline: auto;
  }
}
