.searchInProgress {
  font-size: inherit;
  padding: 1.8rem;
  padding-left: 4.6rem;
  position: absolute;
  top: 120%;
  width: 100%;
  border-radius: 1.1rem;
  background-color: hsl(243, 27%, 20%);
}

@media (max-width: 65em) {
  .searchInProgress {
    padding-left: 5.2rem;
  }
}
