.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 4.4rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.2px;
  margin-bottom: 8rem;
}

.searchBar > div {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.searchBar input {
  width: 100%;
  font-size: 2rem;
  padding: 1.2rem;
  padding-left: 6rem;
  background-color: hsl(243, 27%, 20%);
  border-radius: 1.1rem;
  border: none;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

.searchBar img {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(100%, -50%);
}

.search {
  width: 40rem;
  position: relative;
}

@media (max-width: 65em) {
  .search img {
    height: auto;
  }
}

.searchBtn {
  background-color: hsl(233, 67%, 56%);
  color: hsl(0, 0%, 100%);
  padding-inline: 2rem;
  border: none;
  border-radius: 1.1rem;
  cursor: pointer;

  transition: background-color 250ms;
}

.searchBtn:hover {
  background-color: hsl(248, 70%, 36%);
}
