.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 4.4rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.2px;
  margin-bottom: 8rem;
}

.searchBar > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search {
  width: 35%;
  position: relative;
}

.searchBar input {
  width: 100%;
  padding: 1.2rem;
  padding-left: 6rem;
  background-color: hsl(243, 27%, 20%);
  border-radius: 1.1rem;
  border: none;
}

.searchBar img {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(100%, -50%);
}
