.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 4.4rem;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.2px;
}
