.error {
  text-align: center;
}

.errorIcon {
  height: 3.2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3.6rem;
}

.error h1 {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 2.4rem;
}

.error p {
  width: 40ch;
  margin-inline: auto;
  margin-block-end: 2rem;
}

.error button {
  font-size: 1.6rem;
  display: flex;
  gap: 1.2rem;
  border-radius: 0.8rem;
  border: none;
  padding: 1.2rem 1.4rem;
  background-color: hsl(243, 23%, 30%);
  color: inherit;
  margin-inline: auto;
  cursor: pointer;
  transition: background-color 250ms;
}

.error button:hover,
.error button:focus {
  background-color: hsl(243, 27%, 20%);
}
